.visually-hidden(aria-hidden='true').
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-arrow" viewBox="0 0 14 9">
      <path
        d="M13.25 7.54l-.631.6a1.108 1.108 0 0 1-.766.297 1.06 1.06 0 0 1-.759-.296L7 4.243 2.906 8.141a1.06 1.06 0 0 1-.758.296c-.292 0-.548-.099-.767-.296l-.623-.602a.972.972 0 0 1-.32-.73c0-.288.106-.529.32-.721L6.242.868A1.02 1.02 0 0 1 7 .562c.298 0 .553.101.766.304l5.485 5.22a.96.96 0 0 1 .312.722 1 1 0 0 1-.312.73z"
      />
    </symbol>
    <symbol id="icon-facebook" viewBox="0 0 10 22">
      <path
        d="M2.905 22v-9.84H0V8.25h2.905V5.17C2.905 1.821 4.708 0 7.341 0 8.602 0 9.686.107 10 .155v3.497H8.174c-1.432 0-1.708.774-1.708 1.904V8.25h3.231l-.443 3.91H6.466V22h-3.56z"
      />
    </symbol>
    <symbol id="icon-instagram" viewBox="0 0 22 22">
      <path d="M18.191 5.128a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0" />
      <path
        d="M11 0C8.013 0 7.637.013 6.465.066c-1.17.053-1.97.239-2.67.512a5.378 5.378 0 0 0-1.949 1.268A5.378 5.378 0 0 0 .578 3.795c-.273.7-.459 1.5-.512 2.67C.013 7.637 0 8.013 0 11s.013 3.363.066 4.535c.053 1.17.239 1.97.512 2.67.28.724.657 1.337 1.268 1.949a5.403 5.403 0 0 0 1.949 1.27c.7.271 1.5.457 2.67.51C7.637 21.987 8.013 22 11 22s3.363-.013 4.535-.066c1.17-.053 1.97-.239 2.67-.51a5.39 5.39 0 0 0 1.949-1.27 5.39 5.39 0 0 0 1.27-1.949c.271-.7.457-1.5.51-2.67.053-1.172.066-1.548.066-4.535s-.013-3.363-.066-4.535c-.053-1.17-.239-1.97-.51-2.67a5.403 5.403 0 0 0-1.27-1.949A5.365 5.365 0 0 0 18.205.578c-.7-.273-1.5-.459-2.67-.512C14.363.013 13.987 0 11 0m0 1.982c2.937 0 3.286.012 4.444.064 1.073.049 1.656.228 2.043.379.514.2.88.438 1.266.823.384.385.623.751.822 1.265.151.387.33.97.379 2.041.052 1.162.063 1.509.063 4.446s-.011 3.286-.063 4.444c-.049 1.073-.228 1.656-.379 2.043-.2.514-.438.88-.822 1.266a3.44 3.44 0 0 1-1.266.822c-.387.151-.97.33-2.043.379-1.158.052-1.507.063-4.444.063-2.937 0-3.284-.011-4.446-.063-1.071-.049-1.654-.228-2.04-.379-.515-.2-.88-.438-1.266-.822a3.425 3.425 0 0 1-.823-1.266c-.151-.387-.33-.97-.379-2.043-.052-1.158-.064-1.507-.064-4.444 0-2.937.012-3.284.064-4.446.049-1.071.228-1.654.379-2.04.2-.515.438-.88.823-1.266a3.407 3.407 0 0 1 1.265-.823c.387-.151.97-.33 2.041-.379 1.162-.052 1.509-.064 4.446-.064"
      />
      <path
        d="M11 14.666a3.666 3.666 0 1 1 0-7.335 3.666 3.666 0 0 1 0 7.335m0-9.315a5.65 5.65 0 0 0 0 11.298 5.65 5.65 0 0 0 0-11.298"
      />
    </symbol>
    <symbol id="icon-linkedin" viewBox="0 0 22 22">
      <path
        d="M4.924 22H.364V7.312h4.56V22zM2.641 5.308C1.183 5.308 0 4.1 0 2.642a2.642 2.642 0 0 1 5.283 0C5.283 4.1 4.1 5.308 2.64 5.308zM21.995 22h-4.551v-7.15c0-1.704-.034-3.89-2.371-3.89-2.372 0-2.735 1.852-2.735 3.767V22H7.782V7.312h4.374v2.004h.064c.609-1.154 2.096-2.372 4.316-2.372 4.615 0 5.464 3.04 5.464 6.988V22h-.005z"
      />
    </symbol>
  </svg>
